@model ElectronicsShop.DAL.ViewModels.ResetPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    // Layout = null;
    var language = Context.Request.Cookies["SelectLanguage"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <style>
        .header {
            height: auto;
            background-image: none;
        }

        .container-search-box {
            display: none;
        }

        .intro-page {
            background-position: center;
            background-size: cover;
            min-height: 100vh;
            width: 100%;
            position: relative;
        }

        .ForgetPassword {
            border: 2px solid green;
            margin-top: 220px;
            margin-left: 20%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="intro-page" style="background-image: url(&quot;http://www.zoorme.com/public/front/images/intro-page/intro_bg.svg&quot;);">
        <div class="container-fluid">
            <div class="container">
                @*<h1>ForgetPassword Form</h1>*@
                <div class="row">
                    <div class="col-md-8 ForgetPassword">

                        <form asp-action="ResetPassword" asp-controller="User" method="post" id="ResetForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">@_localizer["Password"]</label>
                                <input asp-for="Password" id="Password" class="form-control" type="password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">@_localizer["ConfirmPassword"]</label>
                                <input asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" type="password" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="UserId" class="form-control" value="@Model.UserId" type="hidden" />
                            </div>
                            <div class="form-group">

                                <input asp-for="Token" type="hidden" class="form-control" value="@Model.Token" />

                            </div>

                            <div class="form-group">
                                <input type="submit" value="@_localizer["Reset"]" class="btn btn-primary" id="btnSubmitReset" />
                            </div>
                            <span id="Requiredreset" style="color:#ff0000;"></span>
                            @if (@ViewBag.ResetMsg != null)
                            {
                                <h5 style="color:red;">@ViewBag.ResetMsg</h5>

                            }
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#btnSubmitReset').on('click', function (e) {
                    e.preventDefault();
                    Validate();
                });

                function Validate() {
                    var password = document.getElementById("Password").value;

                    var confirmPassword = document.getElementById("ConfirmPassword").value;
                    if (password != confirmPassword) {
                        var lang = document.getElementById("lang").value;
                        if (lang == "ar-EG") {
                            $("#Requiredreset").html('Passwords do not match.').css('color', 'red');
                        }
                        else {
                            $("#Requiredreset").html('كلمة المرور غير مطابقة').css('color', 'red');
                        }


                    }

                    else if (confirmPassword == "" || password == "") {
                        $("#Requiredreset").html('all field is required').css('color', 'red');
                    }
                    else {
                        $("#ResetForm").submit();
                    }

                }


            });
        </script>
    }
</body>
</html>
