@model IEnumerable<ElectronicsShop.DAL.Entities.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @*<link href="~/css/product.css" rel="stylesheet" />*@
} 
<div class = "row" >
@foreach (var m in Model)
{
    <div class = "col-md-4" > 
        <div class = "row" >
           <h4>
            <span id = "mobilename" style = "color:darkred" > @m.prdName </span>
           </h4>
    
    @*<p> <span class = "glyphicon glyphicon-heart"
    style = "color:red;pointer-events:fill"
    contextmenu = "Added To WishList" > </span></p >*@
         </div>
            <p>
                <img src = "@m.img" style = "overflow: hidden; position: relative; width:200px; height:200px;" />
            </p>
      
              <p> <a class = "btn btn-default"  asp-action="ViewDetaials" asp-route-id="@m.prdID" > View More» </a><p>
   
        <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span> </p>   </p>   </div>
        } </div>
        @*@foreach (var item in Model)
            {

                <div class="d-flex justify-content-center flex-wrap" style="margin: 50px;">


                    <div class="card" style="width: 15rem;">
                        <div class="card-img-top d-flex justify-content-center">
                            <img src="@item.img" width="250" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.prdName</h5>
                            <h5 class="card-title">@item.prdDescription</h5>
                            <p class="card-text text-right">@item.prdPrice</p>
                            <button class="btn ripple-effect d-flex align-items-center justify-content-center">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>


                <div class="wrapper">
                    <button class="btn shop d-flex align-items-center justify-content-center">
                        <i class="fas fa-cart-plus"></i>
                    </button>
                    <div class="target d-flex align-items-center justify-content-center"><i class="fas fa-box"></i></div>
                </div>*@
        @*<div class="container">
                <div class="box">
                    <div class="product-img">
                        <img src="@item.img" width="250" alt="" />

                    </div>
                    <div class="product-info">
                        <h1>@item.prdName</h1>
                        <p class="price">@item.prdPrice</p>
                        <p class="description">@item.prdDescription</p>
                        <p class="description">
                            @item.prdQuantity
                        </p>
                        <br /><br />
                        <button>ADD TO CART</button>
                    </div>
                </div>
            </div>*@
        @*}*@
        @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.prdName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.prdPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.prdQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.prdDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categorys)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.prdName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prdPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prdQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.prdDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.img)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categorys.catID)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.prdID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.prdID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.prdID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
